<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.novacinema.reservation.model.dao.ReservationMapper">

    <resultMap id="reservationInfoDetailResultMap" type="com.novacinema.reservation.model.dto.ReservationDTO">
        <id property="reservationNum" column="reservation_num"/>
        <result property="seatNumber" column="seat_number"/>
        <result property="paymentTime" column="payment_time"/>
        <result property="state" column="state"/>
        <result property="memberCode" column="member_code"/>
        <result property="scheduleNum" column="schedule_num"/>
    </resultMap>
    <select id="selectAllReservations" resultMap="reservationInfoDetailResultMap">
        SELECT
        reservation_num,
        seat_number,
        payment_time,
        state,
        member_code,
        schedule_num
        FROM T_ReservationInfo
    </select>
    <select id="selectByUserCode" resultMap="reservationInfoDetailResultMap">
    SELECT
    reservation_num,
    seat_number,
    payment_time,
    state,
    member_code,
    schedule_num
    FROM T_ReservationInfo
    WHERE member_code = #{userCode}
    </select>
    <insert id="insertReservation" parameterType="com.novacinema.reservation.model.dto.ReservationDTO">
        INSERT INTO T_ReservationInfo (
        reservation_num,
        seat_number,
        payment_time,
        state,
        member_code,
        schedule_num
        ) VALUES (
        #{reservationNum},
        #{seatNumber},
        #{paymentTime},
        #{state},
        #{memberCode},
        #{scheduleNum}
        )
    </insert>
    <update id="updateReservationState" parameterType="com.novacinema.reservation.model.dto.ReservationDTO">
        UPDATE T_ReservationInfo
        SET state = #{state}
        WHERE reservation_num = #{reservationNum}
    </update>




</mapper>
