<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.novacinema.SeatReservationId.model.dao.SeatReservationMapper">

    <resultMap id="SeatReservationResultMap" type="com.novacinema.SeatReservationId.model.dto.SeatReservationDTO">
        <id property="reservationId" column="reservation_id"/>
        <result property="scheduleNum" column="schedule_num"/>
        <result property="seatCode" column="seat_code"/>
        <result property="reserved" column="reserved"/>
        <result property="reservedAt" column="reserved_at"/>
    </resultMap>
    <resultMap id="AvailableSeatResultMap" type="com.novacinema.seat.model.dto.SeatDTO">
        <id property="seatCode" column="seat_code"/>
        <result property="seatType" column="seat_type"/>
        <result property="screeningNum" column="screening_num"/>
        <result property="sale" column="sale"/>
        <result property="seatRealNum" column="seat_real_num"/>
    </resultMap>

    <select id="getAllReservations" resultMap="SeatReservationResultMap">
        SELECT
        reservation_id,
        schedule_num,
        seat_code,
        reserved,
        reserved_at
        FROM T_SeatReservation
    </select>
    <select id="getAvailableSeatsBySchedule" resultMap="AvailableSeatResultMap">
    SELECT
    seat_code,
    seat_type,
    screening_num,
    sale,
    seat_real_num
    FROM T_Seat
    WHERE screening_num = (
    SELECT screening_num
    FROM T_Schedule
    WHERE schedule_num = #{scheduleNum}
    )
    AND seat_code NOT IN (
    SELECT seat_code
    FROM T_SeatReservation
    WHERE schedule_num = #{scheduleNum}
    AND reserved = TRUE
    )
    </select>

    <insert id="insertSeatReservation" parameterType="com.novacinema.SeatReservationId.model.dto.SeatReservationDTO">
        INSERT INTO T_SeatReservation (
        reservation_id,
        schedule_num,
        seat_code,
        reserved,
        reserved_at
        ) VALUES (
        #{reservationId},
        #{scheduleNum},
        #{seatCode},
        #{reserved},
        #{reservedAt}
        )
    </insert>

    <update id="updateSeatReservedFlag" parameterType="com.novacinema.SeatReservationId.model.dto.SeatReservationDTO">
        UPDATE T_SeatReservation
        SET reserved = #{reserved}
        WHERE reservation_id = #{reservationId}
    </update>




</mapper>
